.btn {
  position: relative;
  align-self: center;
  width: 100px;
  height: 34px;
  background-color: #f4e041;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
}
.btn.wide {
  width: 120px;
}
.btn span {
  line-height: 34px;
}

.btn.disabled {
  background-color: #b4b4b4;
  color: #fff;
}
