.wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.preloader {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   border: 6px solid #fff;
   border-left-color: #00bdd3;
   border-top-color: #00bdd3;
   border-right-color: #00bdd3;
   animation: loader 1.3s linear infinite;
}
@keyframes loader {
   100% {
      transform: rotate(360deg);
   }
}
